<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>用户列表</title>  
    <link rel="stylesheet" href="../css/bootstrap.css">  

    <script src="../js/li/jquery.min.js"></script>  
    <script src="../js/bootstrap.js"></script>
</head>  
<body>

<div style="margin-top:50px;width: 100%">

<div class="container" style="display: block;">
    <table class="table table-hover">
        <thead>
            <tr style="">
                <th style="text-align:center;">名称</th>
                <th style="text-align:center;">页面开关</th>
                <th style="text-align:center;">跳转到该页面</th>
                <th style="text-align:center;">重置数据库数据</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                  <th style="text-align: center;"><span name="p_name">签到~页面</span></th>
                  <th style="text-align: center;">
                      <select id="headselect" onchange='sendMsgFun("head");'>
                          <option value="0">否</option>
                          <option value="1">是</option>
                      </select>
                      <button class="btn btn-warning" onclick="sendMsgFun('head')">是否开启</button>

                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-info" onclick="transationFun('/showhead/head/head')">跳转</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-warning" onclick="changeDBFun()">重置数据库</button>
                  </th>
              </tr>
              <tr>
                  <th style="text-align: center;"><span name="p_name">聊天~页面</span></th>
                  <th style="text-align: center;">
                      <select id="chatselect" onchange='sendMsgFun("chat");'>
                          <option value="0" >否</option>
                          <option value="1">是</option>
                      </select>
                      <button class="btn btn-warning" onclick="sendMsgFun('chat')">是否开启</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-info" onclick="transationFun('/chatwall/chat/chat')">跳转</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-warning" onclick="changeDBFun()">重置数据库</button>
                  </th>
              </tr>
              <tr>
                  <th style="text-align: center;"><span name="p_name">抽奖~页面</span></th>
                  <th style="text-align: center;">
                      <select id="luckselect" onchange='sendMsgFun("luck");'>
                          <option value="0">否</option>
                          <option value="1">是</option>
                      </select>
                      <button class="btn btn-warning" onclick="sendMsgFun('luck')">是否开启</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-info" onclick="transationFun('/li/tugofwarsummary')">跳转</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-warning" onclick="changeDBFun()">重置数据库</button>
                  </th>
              </tr>
              <tr>
                  <th style="text-align: center;"><span name="p_name">投票~页面</span></th>
                  <th style="text-align: center;">
                      <select id="voteselect" onchange='sendMsgFun("vote");'>
                          <option value="0">否</option>
                          <option value="1">是</option>
                      </select>
                      <button class="btn btn-warning" onclick="sendMsgFun('vote')">是否开启</button>
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-info" >跳转</button><!-- 投票结果展示页面的  路由 onclick="transationFun()"  -->
                  </th>
                  <th style="text-align: center;">
                    <button class="btn btn-warning" onclick="changeDBFun()">重置数据库</button>
                  </th>
              </tr>
        </tbody>
    </table>
</div>
</div>


<div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="span6">
          <div class="span2" style="float: left;">
              <label class="checkbox">桌号</label>
              <input type="text" class="input-small" placeholder="填入桌号" id="tableNo">
          </div>
          <div class="span2" style="margin-left: 50px; float: left;">  
              <label class="checkbox" style="width: 150px;">部门</label>
              <select id="selectDepartment" style="width: 150px;height: 25px;">
                  <option value="">选择部门</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
              </select>
          </div>
          <div class="span2" style="margin-left: 50px; float: left;padding-top: 10px;" >
            <label class="" style="width: 150px;">签到情况</label>
            <div id="radioDivId">
              已签到:&nbsp;<input type="radio" name="issignRadio" value="1" title="已签到" style="width: 20px;height: 20px;">&nbsp;&nbsp;&nbsp;
              未签到:&nbsp;<input type="radio" name="issignRadio" value="0" title="未签到" style="width: 20px;height: 20px;">
            </div>
          </div>
          <div class="span2" style="margin-left: 700px;" >
            <div style="height:30px;">
            </div>
            <button type="submit" class="btn" onclick="searchFun();">查询</button>
            <button style="margin-left: 80px; " type="submit" class="btn" onclick="popUpWindow()">批量修改信息</button>
            
          </div>
      </div>

      <div class="span6" style="margin-top: 30px;">
        <div class=" row" style="">
          <span style="float: left;margin-left: 20px;padding-bottom:  20px;">查询总人数:&nbsp;</span>
          <div id="totalNum"><%=items.length%></div>
        </div>
          <table class="table table-bordered table-striped table-hover" id="AnchorTable">  
            <tr>  
                <td>序号</td>  
                <td>姓名</td>  
                <td>ID</td> 
                <td>部门</td>
                <td>桌号</td>
                <td>头像</td>
                <td>签到情况</td>
                <td>操作</td>
            </tr>  
            <%for(var i = 0;i<items.length;i++){%>
                <tr id='<%=items[i].num%>'>
                    <td><%=items[i].num%></td>
                    <td><%=items[i].name%></td>
                    <td><%=items[i].userid%></td>
                    <td><%=items[i].department%></td>
                    <td class="tablenumber"><%=items[i].table%></td>
                    <td><img src="<%=items[i].avatar%>" style="width:40px;height:40px"/></td>
                    <td id="<%=items[i].userid%>"><%=items[i].issign%></td>
                    <td>
                        <button value="<%=items[i].userid%>" style="margin-left: 200px;" onclick="resetSignup( '<%=items[i].userid%>');">签到重置</button>
                        <button value="<%=items[i].userid%>" style="margin-left: 200px;" 
                        onclick="popUpWindowSingle('<%=items[i].userid%>','<%=items[i].department%>','<%=items[i].num%>');">修改信息</button>
                    </td> 
                </tr>
            <%}%>  
          </table> 
      </div>
    </div>
</div>
<div id="setTable" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left: 42%;margin-top: 100px;width: 300px;height: 200px;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div>
                <span>请选择部门:</span>
                <select id="setInfoDepartment" style="width: 150px;height: 25px;">
                    <option value="">修改整个部门</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                </select>
              </div>
              <div style="margin-top: 20px;">
                修改桌号:&nbsp;&nbsp;<input id="tableNumber" type="text" name="" value="" placeholder="请输入桌号">
                
              </div>
            </div>
            <div class="modal-footer" style="height: 50px;">
                <a href="#" class="btn" onclick="changeInfo();">确定</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<div id="setTableSingle" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left: 42%;margin-top: 100px;width: 300px;height: 200px;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div style="margin-top: 20px;">
                修改桌号:&nbsp;&nbsp;<input id="tableNumberSingle" type="text" name="" value="" placeholder="请输入桌号">
                
              </div>
            </div>
            <div class="modal-footer" style="height: 50px;">
                <a href="#" class="btn" onclick="changeInfoSingle();">确定</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<div id="mainIP" style="display: none;"><%= ip%></div><!-- var ip = ""; --><!-- ip = $("#mainIP").html(); -->
</body> 
<script type="text/javascript" src></script>
<script type="text/javascript">

var user_id;
var user_department;
var user_num;
var flag = 1;
var ip = "";

$(function(){
  ip = $("#mainIP").html();
  getSatausFun();
})


  function searchFun(){
    var that = this;
      var table = $("#tableNo").val();
      var department = $("#selectDepartment option:selected").val();

      var issign = $('#radioDivId input[name="issignRadio"]:checked ').val();

      if(table == '' || table == null || table == undefined){
          table='';
      }
      if(department == '' || department == null || department == undefined){
          department='';
      }
      if(issign == '' || issign == null || issign == undefined){
          issign='';
      }
      // if(table =='' && department == '' && issign == '')
      //   return;
      var data = {"table":table,"department":department, "issign":issign}
       $.ajax({
          url:ip+'api/user/selectUsers',//http://localhost:9999/
          type:'post',
          async:false,
          data:data,
          dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
          success:function(data){
            $("#AnchorTable tr:first").nextAll().remove();
            var number_ = data.items.length;
            $("#totalNum").html(number_);
            for(var i=0;i<data.items.length;i++){
              var item = data.items[i];
              $("#AnchorTable tr:nth-child("+(i+1)+")").after(
                '<tr id='+item.num+'>'  +
                  '<td>'+item.num+'</td>' +
                  '<td>'+item.name+'</td>' +
                  '<td>'+item.userid+'</td>' +
                  '<td>'+item.department+'</td>' +
                  '<td class="tablenumber">'+item.table+'</td>' +
                  '<td><img src="'+item.avatar+'" style="width:40px;height:40px"/></td>' +
                  '<td id='+item.userid+'>'+item.issign+'</td>' +
                  '<td>' +
                    '<button value='+item.userid+' style="margin-left: 200px;"" onclick="resetSignup('+item.userid+');">签到重置</button>' +
                    '<button value='+item.userid+' style="margin-left: 200px;"" onclick="popUpWindow('+item.userid+','+item.department+','+item.num+');">修改信息</button>' +
                  '</td>' +
                '</tr>'
              );
            }
          },
          error:function(){
            console.log("没有从数据库中搜索到数据!");
          }
      })
  }
  function resetSignup(uid){ 
     $.ajax({
        url:ip+'api/user/resetuser?UserId='+uid+"&issign=0&table=0",//http://localhost:9999/
        type:'get',
        async:false,
        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
        success:function(data){
           $("#"+uid).html(data);
        },
        error:function(){
          console.log("没有从数据库中搜索到数据!");
        }
    })
  }
  function popUpWindow(){
    $("#setTable").modal("show");
  }
  function popUpWindowSingle(uid,department,num){
    user_id = '';
    user_department = '';
    user_num = '';
    $("#setTableSingle").modal("show");
    user_id = uid;
    user_department = department;
    user_num = num;

  }
  function changeInfoSingle(){

    var table = $("#tableNumberSingle").val();
    $("#tableNumberSingle").val('');
    if(isNaN(table)){
        alert("请输入正确的桌号");
        return ;
    }

    $.ajax({
        url:ip+'api/user/resetuserinfo',//http://localhost:9999/
        type:'post',
        async:false,
        data:{"UserId":user_id,"table":table,"department":''},
        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
        success:function(data){
          alert("修改成功!");
          $("#setTableSingle").modal("hide");
          location.reload(true);
        },
        error:function(){
          alert("修改桌号失败, 请重新修改!");
        }
    })
    
  }
  function changeInfo(){
    var department = $("#setInfoDepartment option:selected").val();
    var table = $("#tableNumber").val();
    $("#tableNumber").val('');
    if(isNaN(table)){
        alert("请输入正确的桌号");
        return ;
    }
    if(department == '' || department == null || department == undefined){
        department = ''
    }
    $.ajax({
        url:ip+'api/user/resetuserinfo',//http://localhost:9999/
        type:'post',
        async:false,
        data:{"UserId":user_id,"table":table,"department":department},
        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
        success:function(data){
          alert("修改成功!");
          $("#setTable").modal("hide");
          location.reload(true);
        },
        error:function(){
          alert("修改桌号失败, 请重新修改!");
        }
    })
    
  }


// 页面socket连接控制方法
  function sendMsgFun(param){
      var value = $("#"+param+"select option:selected").val();
      var _vlalue = 0;
      var msg = '';
      if(value == 0){
        msg = param+":open";
        _vlalue = 1;
      }else if(value == 1){
        msg = param+":close";
         _vlalue = 0;
      }
      $.ajax({
          url:ip+'management/mainsocketcontrol',//http://localhost:9999/
          type:'post',
          async:false,  
          data:{"meassage":msg},
          dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
          success:function(data){
            alert("消息发送成功");
          },
          error:function(){
            alert("消息发送失败");
          }
      })
      saveStatusFun(param,_vlalue);
      if(value % 2==0){   
          $("#"+param+"select").get(0).options[1].selected = true;     
      }else if(value % 2==1){    
          $("#"+param+"select").get(0).options[0].selected = true;     
      }
  }
  // 在数据库中保存页面修改的状态
  function saveStatusFun(param,value){
      $.ajax({
          url:ip+'management/saveStatusFun',//http://localhost:9999/
          type:'post',
          async:false, 
          data:{"pageName":param,"value":value}, 
          dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
          success:function(data){
            console.log("页面状态修改成功");
          },
          error:function(){
            console.log("页面状态修改失败");
          }
      })
  }
  // 获取数据库中的页面状态
  function getSatausFun(){
    
    $.ajax({
        url:ip+'management/statusFun',//http://localhost:9999/
        type:'get',
        async:false, 
        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
        success:function(data){
          var len = data.items.length;

          for(var x=0; x<len ;x++){
            var name = data.items[x].pageName;
            var status = data.items[x].status;
            var count=$("#"+name+"select").get(0).options.length;
            for(var i=0;i<count;i++){
              if($("#"+name+"select").get(0).options[i].value == status){
                $("#"+name+"select").get(0).options[i].selected = true;          
                break;  
              }  
            }
          }
        
        },
        error:function(){
          console.log("获取页面状态失败");
        }
    })
  }
// 页面连接跳转
  function transationFun(param){
      $.ajax({//redirectcontrol
          url:ip+'management/redirectcontrol',//http://localhost:9999/
          type:'post',
          async:false,
          data:{"url":"url:"+param},
          dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
          success:function(data){
            alert("消息发送成功");
          },
          error:function(){
            alert("消息发送失败");
          }
      })
  }

</script> 
</html>  