<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>用户列表</title>  
    <link rel="stylesheet" href="../css/bootstrap.css">  

    <script src="../js/jquery.min.js"></script>  
    <script src="../js/bootstrap.js"></script>
</head>  
<body>
<div class="container">
    <div class="row">
      <div class="span6">
          <div class="span2">
              <label class="checkbox">姓名</label><input type="text" class="input-small" placeholder="姓名">
          </div>
          <div class="span2">
              <label class="checkbox">姓名</label>
              <select>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
              </select>
          </div>
          <div class="span2">
               <button type="submit" class="btn">查询</button>
          </div>
      </div>
      <div class="span6">
          <table class="table table-bordered table-striped table-hover">  
            <tr>  
                <td>序号</td>  
                <td>姓名</td>  
                <td>ID</td> 
                <td>部门</td>
                <td>桌号</td>
                <td>桌号</td>
                <td>签到情况</td>
                <td>操作</td>
            </tr>  
            <%for(var i = 0;i<items.length;i++){%>  
                <tr>  
                    <td><%=items[i].num%></td>  
                    <td><%=items[i].name%></td>  
                    <td><%=items[i].userid%></td>
                    <td><%=items[i].department%></td>
                    <td><%=items[i].table%></td>
                    <td><img src="<%=items[i].avatar%>" style="width:40px;height:40px"/></td>
                    <td><%=items[i].issign%></td>
                    <td>
                        <button style="margin-left: 200px;">签到重置</button>
                        <button style="margin-left: 200px;">修改信息</button>
                    </td> 
                </tr>
                <%}%>  
            </table>  
        </div>
    </div>
       </div>
</body>  
</html>  