<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>用户列表</title>  
    <link rel="stylesheet" href="../../css/bootstrap.css">  

    <script src="../../js/li/jquery.min.js"></script>  
    <script src="./../js/bootstrap.js"></script>
</head>  
<body>
<!-- 消息开关控制 -->
<div style="margin-top:50px;width: 100%">
  <div class="container" style="display: block;">
      <div style="padding-bottom: 30px;text-align: right;" >
        <button class="btn btn-default" onclick="popNewPage('/sendluck/showbonusofc');">大屏(程董)</button>
        <button class="btn btn-default" onclick="popNewPage('/sendluck/showbonusofz');">大屏(朱总)</button>
        <button class="btn btn-warning" onclick="popNewPage('/redpacket/redpacket');">枪红包(程董)</button>
        <button class="btn btn-default" onclick="popNewPage('/sendluck/bonusofc');">发红包(程董)</button>
        <button class="btn btn-default" onclick="popNewPage('/sendluck/bonusofz');">发红包(朱总)</button>
        <button class="btn btn-info" onclick="recordLukyAwardMessage();">录入抽奖页面奖品信息</button>
        <button class="btn btn-info" onclick="getLukyAwardMessage();">获取抽奖页面奖品信息</button>
        <button class="btn btn-danger" onclick="fetchAllUser();">重新拉取微信数据</button>
      </div>
      <!-- 总体开关 -->
      <table class="table table-hover">
          <thead>
              <tr style="">
                  <th style="text-align:center;">名称</th>
                  <th style="text-align:center;">弹出新页面</th>
                  <th style="text-align:center;">页面消息开关</th>
                  <th style="text-align:center;">跳转到该页面</th>
                  <th style="text-align:center;">查看中奖信息</th>
                  <th style="text-align:center;">重置数据库数据</th>
              </tr>
          </thead>
          <tbody>
                <tr>
                    <th style="text-align: center;"><span name="p_name">签到~页面</span></th>
                    <th style="text-align: center;">
                        <button class="btn btn-info" onclick="popNewPage('/showhead/head/head')">我弹</button>
                    </th>
                    <th style="text-align: center;">
                        <select id="headselect" onchange='sendMsgFun("head");'>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                        <button class="btn btn-default" onclick="sendMsgFun('head')">已开启?</button>

                    </th>

                    <th style="text-align: center;">
                      <button class="btn btn-info" onclick="transationFun('/showhead/head/head')">跳转</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="">XXX</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="resetHeadDBFun()">重置数据库</button>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center;"><span name="p_name">聊天~页面</span></th>
                    <th style="text-align: center;">
                        <button class="btn btn-info" onclick="popNewPage('/chatwall/chat/chat')">我弹</button>
                    </th>
                    <th style="text-align: center;">
                        <select id="chatselect" onchange='sendMsgFun("chat");'>
                            <option value="0" >否</option>
                            <option value="1">是</option>
                        </select>
                        <button class="btn btn-default" onclick="sendMsgFun('chat')">已开启?</button>
                    </th>

                    <th style="text-align: center;">
                      <button class="btn btn-info" onclick="transationFun('/chatwall/chat/chat')">跳转</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="showawardpeople('chat')">查看</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="resetChatDBFun()">重置数据库</button>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center;"><span name="p_name">抽奖~页面</span></th>
                    <th style="text-align: center;">
                        <button class="btn btn-info" onclick="popNewPage('/li/lottery')">我弹</button>
                    </th>
                    <th style="text-align: center;">
                        <select id="luckselect" onchange='sendMsgFun("luck");'>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                        <button class="btn btn-default" onclick="sendMsgFun('luck')">已开启?</button>
                    </th>
   
                    <th style="text-align: center;">
                      <button class="btn btn-info" onclick="transationFun('/li/lottery')">跳转</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="">XXX</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="resetLuckDBFun()">重置数据库</button>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center;"><span name="p_name">投票~页面</span></th>
                    <th style="text-align: center;">
                        <button class="btn btn-info" onclick="popNewPage('')">我弹</button>
                    </th>
                    <th style="text-align: center;">
                        <select id="voteselect" onchange='sendMsgFun("vote");'>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                        <button class="btn btn-default" onclick="sendMsgFun('vote')">已开启?</button>
                    </th>

                    <th style="text-align: center;">
                      <button class="btn btn-info" >跳转</button><!-- 投票结果展示页面的  路由 onclick="transationFun()"  -->
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="">XXX</button>
                    </th>
                    <th style="text-align: center;">
                      <button class="btn btn-danger" onclick="changeDBFun()">重置数据库</button>
                    </th>
                </tr>
          </tbody>
      </table>
  </div>
</div>

<div>
    <table class="table table-hover">  
        <thead>
            <tr style="">
            <!-- 控制聊天页面 后台是否接受消息 -->
                <th style="text-align: center;">
                    <select id="backchatselect" onchange='backMsgFun("chat");'>
                        <option value="0" >否</option>
                        <option value="1">是</option>
                    </select>
                    <button class="btn btn-warning" onclick="backMsgFun('chat')">chat后台接受消息已开启?</button>
                </th>
              <!-- 控制聊天页面 后台是否接受消息 -->
              <th style="text-align: center;">
                  <select id="backchatselect" onchange='backMsgFun("voice");'>
                      <option value="0" >否</option>
                      <option value="1">是</option>
                  </select>
                  <button class="btn btn-warning" onclick="backMsgFun('voice')">voice后台接受消息已开启?</button>
              </th>
            </tr>
        </thead>   
    </table>         
</div>

<!-- 数据展示 -->
<div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="span6">
          <div class="span2" style="float: left;">
              <label class="checkbox">桌号</label>
              <input type="text" class="input-small" placeholder="填入桌号" id="tableNo">
          </div>
          <div class="span2" style="margin-left: 50px; float: left;">  
              <label class="checkbox" style="width: 150px;">部门</label>
              <select id="selectDepartment" style="width: 150px;height: 25px;">
                  <option value="">选择部门</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
              </select>
          </div>
          <div class="span2" style="margin-left: 50px; float: left;padding-top: 10px;" >
            <label class="" style="width: 150px;">签到情况</label>
            <div id="radioDivId">
              已签到:&nbsp;<input type="radio" name="issignRadio" value="1" title="已签到" style="width: 20px;height: 20px;">&nbsp;&nbsp;&nbsp;
              未签到:&nbsp;<input type="radio" name="issignRadio" value="0" title="未签到" style="width: 20px;height: 20px;">
            </div>
          </div>
          <div class="span2" style="margin-left: 670px;" >
            <div style="height:30px;">
            </div>
            <button type="submit" class="btn btn-info" onclick="searchFun();">开始查询</button>
            <button style="margin-left: 80px; " type="submit" class="btn btn-info" onclick="popUpWindow()">批量修改信息</button>
            
          </div>
      </div>

      <div class="span6" style="margin-top: 30px;">
        <div class=" row" style="">
          <span style="float: left;margin-left: 20px;padding-bottom:  20px;">查询总人数:&nbsp;</span>
          <div id="totalNum"><%=items.length%></div>
        </div>
          <table class="table table-bordered table-striped table-hover" id="AnchorTable">  
            <tr>  
                <td>序号</td>  
                <td>姓名</td>  
                <td>ID</td> 
                <td>部门</td>
                <td>桌号</td>
                <td>头像</td>
                <td>签到情况</td>
                <td>操作</td>
            </tr>  
            <%for(var i = 0;i<items.length;i++){%>
                <tr id='<%=items[i].num%>'>
                    <td><%=items[i].num%></td>
                    <td><%=items[i].name%></td>
                    <td><%=items[i].userid%></td>
                    <td><%=items[i].department%></td>
                    <td class="tablenumber"><%=items[i].table%></td>
                    <td><img src="<%=items[i].avatar%>" style="width:40px;height:40px"/></td>
                    <td id="<%=items[i].userid%>"><%=items[i].issign%></td>
                    <td>
                        <button value="<%=items[i].userid%>" style="margin-left: 200px;" onclick="resetSignup( '<%=items[i].userid%>');">签到重置</button>
                        <button value="<%=items[i].userid%>" style="margin-left: 200px;" 
                        onclick="popUpWindowSingle('<%=items[i].userid%>','<%=items[i].department%>','<%=items[i].num%>');">修改信息</button>
                    </td> 
                </tr>
            <%}%>  
          </table> 
      </div>
    </div>
</div>
<!-- 整体设置桌号 -->
<div id="setTable" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left: 42%;margin-top: 100px;width: 300px;height: 200px;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div>
                <span>请选择部门:</span>
                <select id="setInfoDepartment" style="width: 150px;height: 25px;">
                    <option value="">修改整个部门</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                </select>
              </div>
              <div style="margin-top: 20px;">
                修改桌号:&nbsp;&nbsp;<input id="tableNumber" type="text" name="" value="" placeholder="请输入桌号">
                
              </div>
            </div>
            <div class="modal-footer" style="height: 50px;">
                <a href="#" class="btn" onclick="changeInfo();">确定</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<!-- 设置单个桌号 -->
<div id="setTableSingle" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left: 42%;margin-top: 100px;width: 300px;height: 200px;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
             <div class="modal-body">
              <div style="margin-top: 20px;">
                修改桌号:&nbsp;&nbsp;<input id="tableNumberSingle" type="text" name="" value="" placeholder="请输入桌号">
                
              </div>
            </div>
            <div class="modal-footer" style="height: 50px;">
                <a href="#" class="btn" onclick="changeInfoSingle();">确定</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<!-- 录入抽奖页面奖品信息 -->
<div id="recordLukyAward" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left:42%;margin-top: 100px;width: 400px;height: auto;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div style="margin-top: 10px;">
                奖品级别:&nbsp;<input id="luckyawardAwardsLevel" type="text" name="" value="" placeholder="请输入奖品级别,例:1">    
              </div>
              <div style="margin-top: 10px;">
                奖品数量:&nbsp;<input id="luckyawardNumber" type="text" name="" value="" placeholder="请输入奖品数量"> 
              </div>
              <div style="margin-top: 10px;">
                图片信息:&nbsp;<input id="luckyawardPhoto" type="text" name="" value="" placeholder="例如:golden.png">
              </div>
              <div style="margin-top: 10px;">
                奖品名称:&nbsp;<input id="luckyawardPrizeName" type="text" name="" value="" placeholder="请输入奖品名称">
              </div>
              <div style="margin-top: 10px;">
                奖项级别:&nbsp;<input id="luckyawardAwardsName" type="text" name="" value="" placeholder="例如:一等奖"> 
              </div>    
            </div>
            <div class="modal-footer" style="height: 50px;">
                <a href="#" class="btn" onclick="saveluckyawardmessage();">确定</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<!-- 获取抽奖页面奖品信息 -->
<div id="getLukyAward" class="modal fade" style="display: none; width: 100% ;height: 100%;">
    <div class="box box-default extensionDiv" style="margin-left:33%;margin-top: 100px;width: 600px;height: auto;background-color: #fff;text-align: center;">
        <div class="box-body">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <table class="table table-bordered table-striped table-hover" id="AnchorluckyawarlistTable">  
                <tr id="luckyawarlist">  
                    <td>奖品名称</td>
                    <td>奖品级别</td>
                    <td>奖品数量</td>  
                    <td>图片信息</td> 
                    <td>奖项级别</td>
                    <td>操作</td>
                </tr>  
                
              </table>     
            </div>
            <div class="modal-footer" style="height: 50px;">
                <!-- <a href="#" class="btn" onclick="saveluckyawardmessage();">确定</a> -->
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
<div id="mainIP" hidden="hidden"><%=httpUrl%>|<%=socketUrl%></div>
</body> 
<script src="../../js/plugins/layer/layer.js"></script>
<script src="../../js/hc/userlist.js"></script>
<script type="text/javascript">

</script> 
</html>  